[Unit]
Description=key remapping daemon

[Service]
Type=simple
ExecStart=/usr/bin/sh -c 'exec /var/home/bbonsign/.nix-profile/bin/keyd'

[Install]
WantedBy=multi-user.target
